<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Pet</title>
</head>
<body>
    <h1>Edit Pet</h1>
    <form action="/update_pet/{{ pet.pets_id }}" method="POST">
        <label for="pname">Name:</label>
        <input type="text" id="pname" name="pname" value="{{ pet.name }}" required><br><br>
        <label for="ptype">Type:</label>
        <input type="text" id="ptype" name="ptype" value="{{ pet.type }}" required><br><br>
        <input type="submit" value="Update Pet">
    </form>
    <a href="/">Back to Home</a>
</body>
</html>
