<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
</head>
<body>
    <h1>Info From Server</h1>
    <p>name:{{name}}</p>
    <p>color:{{favorite_color}}</p>
    <p>hopy</p>
    <ul>
        {%for hopy in hopy%}
        <li>
            {{hopy}}
        </li>
        {%endfor%}
    </ul>
</body>
</html>