<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Edit</title>
</head>
<body>
    <h1>Edit Show:{{edit.id}}</h1>
  <form action="/update{{id}}" method="post">
    {%csrf_token%}
    <label>Title</label>
    <input type="text" name="title">
    <br>
    <br>
    <label>Network</label>
    <input type="text" name="network">
    <label>Release Date</label>
    <input type="date" name="release">
    <br>
    <br>
    <label>Description</label>
    <br>
    <textarea name="desc" cols="20" rows="5"></textarea>
    <br>
    <input type="submit" name="update" value="Update">
  </form>
    <br>
    <a href="">Go to Show</a>
    
</body>
</html>