<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shwo ID</title>
</head>
<body>
    <h1>TV Shwo{{new_creat.id}}</h1>
    <p>Title:{{new_creat.title}}</p>
    <p>Network:{{new_creat.net_work}}</p>
    <p>Release Date:{{new_creat.release_date}}</p>
    <p>Description:{{new_creat.desc}}</p>
    <br>
    <br>
    <br>
    <br>
    <p>Last Updated:{{new_creat.updated_at}}</p>
    <br>
    <br>
    <div>
    <a href="">Edit</a> | <a href="">Delete</a>
    </div>
    <br>
    <a href="/shwos">Go Back</a>
</body>
</html>