<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Submitted Info:</h3>
    <p>Name: {{ Name_on_template }}</p>
    <p>Dojo Location: {{ Dojo_Location_on_template }}</p>
    <p>Favorite Language: {{ Favorite_Language_on_template }}</p>
    <p>Comment: {{ Comment_on_template}}</p><br>
    <a href="http://127.0.0.1:8000"><input type="submit" value="Go Back"></a>
    {{request.session.test}}
</body>
</html>