<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Great Number Game</title>
</head>
<body>
    <h1>Welcom to the Great Number Game!</h1>
    <h2>I'm thinking of a number between 1 and 100...</h2>
    <h2>Take a guess!</h2>
    
    {% if session['result'] %}
    <div class="result {{ session['color'] }}">{{ session['result'] }}</div>
{% endif %}

{% if session['result'] is none or 'Correct!' not in session['result'] %}
    <form action="/guess" method="POST">
        <input type="number" name="guess" min="1" max="100" required>
        <button type="submit">Submit Guess</button>
    </form>
{% endif %}

{% if session['result'] and 'Correct!' in session['result'] %}
    <form action="/reset" method="GET" class="reset-btn">
        <button type="submit">Play Again</button>
    </form>
{% endif %}
</body>
</html>
