<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Leaderboard</title>
</head>
<body class="body">
    <h1 style="color: white;">Leaderboard</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Attempts</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in leade %}
            <tr>
                <td>{{ entry.name }}</td>
                <td>{{ entry.attempts }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/" target="_blank">Back to Game</a>
</body>
</html>

