<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{new_author.first_name}} {{new_author.last_name}}</p>
    <p>ID:{{new_author.id}}</p>
    <p>Notes:{{new_author.notes}}</p>
    <p>Books</p>
    <ul>
        {%for book in title_book%}
        <li>{{ book.title}}</li>
        {%endfor%}
    </ul>
    {%for name_title in all_book%}
    <select>
        <option>{{name_title.title}}</option>
    </select>
    {%endfor%}
    
</body>
</html>