<!DOCTYPE html>null=True
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <title>TV Shows</title>
</head>

<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Network</th>
            <th>Release Date</th>
            <th>Action</th>
        </tr>
        {% for show in shows %}
        <tr>
            <td>{{show.title}}</td>
            <td>{{show.network}}</td>
            <td>{{show.release_date}}</td>
            <td><a href="/shows/{{show.id}}">Show</a>
                <p>|</p><a href="">Edit</a>
                <p>|</p><a href="/shows/delete/{{show.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}

    </table>
    <a href="/shows/tv_form">Add A new show</a>
</body>

</html>